<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="secretjuju.gaemihouse.coin.dao.CoinMapper">

    <select id="selectCoinList" resultType="CoinDTO">
        SELECT *
        FROM TBL_COIN
    </select>

    <select id="selectCoinListById" resultType="CoinDTO">
        SELECT *
        FROM TBL_COIN
        WHERE MEMBER_ID = #{memberId}
    </select>

    <insert id="insertCoin" parameterType="CoinDTO">
        INSERT INTO TBL_COIN
        (
            MEMBER_ID,
            COIN_AMOUNT
        )
        VALUES
            (
                #{memberId},
                #{coinAmount}
            )
    </insert>

    <update id="updateCoin">
        UPDATE TBL_COIN
        SET COIN_AMOUNT = COIN_AMOUNT + #{coinAmount}
        WHERE MEMBER_ID = #{memberId}
    </update>


</mapper>