<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="secretjuju.gaemihouse.member.dao.MemberMapper">

    <select id="selectByMemberId" resultType="MemberDTO">

        SELECT
            *
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectById" resultType="MemberDTO">
        SELECT *
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{id}
    </select>

    <select id="findByMemberId" resultType="MemberDTO">
        SELECT *
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectMyInfo" resultType="MemberDTO">
        SELECT *
          FROM TBL_MEMBER
         WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectMemberInfobyCode" resultType="MemberDTO">
        SELECT *
          FROM TBL_MEMBER
         WHERE MEMBER_CODE = #{memberCode}
    </select>

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO TBL_MEMBER
        (
            MEMBER_CODE,
            MEMBER_ID,
            MEMBER_PASSWORD,
            MEMBER_NICKNAME,
            MEMBER_NAME,
            STOCK_FIRM,
            ACCOUNT_NUM,
            APP_KEY,
            APP_SECRET,
            APP_KEY_EXPIRESIN,
            TERMS_AGREEMENT_YN,
            STOCK_CAREER
        )
        VALUES
        (
            SEQ_MEMBER_CODE.NEXTVAL,
            #{memberId},
            #{memberPassword},
            #{memberNickname},
            #{memberName},
            #{stockFirm},
            #{accountNum},
            #{appKey},
            #{appSecret},
            SYSDATE + 365,
            #{termsAgreementYn},
            #{stockCareer}
        )
    </insert>

    <update id="updateMember" parameterType="MemberDTO">
        UPDATE TBL_MEMBER
        SET MEMBER_NICKNAME = #{memberNickname},
            STOCK_CAREER = #{stockCareer}
        WHERE MEMBER_CODE = #{memberCode}
    </update>

    <update id="withdrawMember" parameterType="MemberDTO">
        UPDATE TBL_MEMBER
        SET WITHDRAW_YN = #{withdrawYn}
        WHERE MEMBER_CODE = #{memberCode}
    </update>



</mapper>
