<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="secretjuju.gaemihouse.world.dao.WorldMapper">
    <select id="selectNoticeList" resultType="NoticeDTO">
        SELECT *
        FROM TBL_NOTICE
    </select>

    <insert id="insertNotice" parameterType="NoticeDTO">
        INSERT INTO TBL_NOTICE
        VALUES
            (
                SEQ_NOTICE_CODE.NEXTVAL,
                #{noticeTitle},
                #{noticeContent},
                SYSDATE
            )
    </insert>

    <update id="updateNotice">
        UPDATE TBL_NOTICE
        SET NOTICE_TITLE = #{noticeTitle},
            NOTICE_CONTENT = #{noticeContent}
        WHERE NOTICE_CODE = #{noticeCode}
    </update>

    <delete id="deleteNotice">
        DELETE FROM TBL_NOTICE
        WHERE NOTICE_CODE = #{noticeCode}
    </delete>
</mapper>