<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="secretjuju.gaemihouse.payment.dao.PaymentMapper">

    <select id="selectPaymentList" resultType="PaymentDTO">
        SELECT *
          FROM TBL_PAYMENT
    </select>

    <select id="selectPaymentListById" resultType="PaymentDTO">
        SELECT *
          FROM TBL_PAYMENT
         WHERE CUSTOMER_NAME = #{memberId}
    </select>

    <insert id="insertPayment" parameterType="PaymentDTO">
        INSERT INTO TBL_PAYMENT
        (
            AMOUNT,
            ORDER_ID,
            ORDER_NAME,
            CUSTOMER_NAME,
            SUCCESS_URL,
            FAIL_URL
        )
        VALUES
        (
            #{amount},
            #{orderId},
            #{orderName},
            #{customerName},
            #{successUrl},
            #{failUrl}
        )
    </insert>

    <update id="updatePayment">
        UPDATE TBL_PAYMENT
           SET CANCEL_YN = 'Y'
         WHERE ORDER_ID = #{orderId}
    </update>


</mapper>