name: Secretjuju API Server CI/CD

on:
  pull_request:
    branches: [master]

jobs:
  build:
    name: CI PipeLine
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    
    - name: Set application.yml from Secrets
      uses: microsoft/variable-substitution@v1
      with:
        files: ./src/main/resources/application.yml
      env:
        spring.datasource.url: ${{ secrets.DATASOURCE_URL }} 
        spring.datasource.username: ${{ secrets.DATASOURCE_USERNAME }} 
        spring.datasource.password: ${{ secrets.DATASOURCE_PASSWORD }} 
        jwt.secret: ${{ secrets.JWT_SECRET }}    
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Login to DockerHub
      run: docker login -u ${{ secrets.DOCKER_USERNAME_CDH }} -p ${{ secrets.DOCKER_PASSWORD_CDH }}
      
    - name: Build DockerImage
      run: docker build -t ${{ secrets.DOCKER_HUB_NAME_CDH }}/backend:latest ./
        
    - name: Push DockerImage
      run: docker push ${{ secrets.DOCKER_HUB_NAME_CDH }}/backend:latest

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
  
  deploy:
      name: CD PipeLine
      runs-on: ubuntu-latest
      needs: build
      
      steps:
      - uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      - name: Get current time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYY-MM-DDTHH-mm-ss
          utcOffset: "+09:00"    
          
      - name: Generate deployment directory
        run: |
          mkdir -p deploy
          cp Dockerrun.aws.json deploy/Dockerrun.aws.json
          cd deploy && zip -r deploy.zip .

      - name: Beanstalk Deploy
        uses: einaregilsson/beanstalk-deploy@v14
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: secretjuju-cicd
          environment_name: Secretjujucicd-env
          version_label: secretjuju-cicd-${{steps.current-time.outputs.formattedTime}}
          region: ap-northeast-2
          deployment_package: deploy/deploy.zip
          wait_for_environment_recovery: 200
